*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#141414;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.card{
    background:#1f1f1f;
    width:350px;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.card img{
    width:90px;
    height:90px;
    border-radius:50%;
    margin-bottom:20px;
}

.card h2{
    color:white;
    margin-bottom:8px;
}

.location{
    color:#c5f82a;
    font-size:14px;
    font-weight:bold;
    margin-bottom:20px;
}

.bio{
    color:#bdbdbd;
    font-size:14px;
    margin-bottom:25px;
}

.links{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.links a{
    text-decoration:none;
    background:#333333;
    color:white;
    padding:12px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.links a:hover{
    background:#c5f82a;
    color:black;
}